.timer{
    /* border: 10px solid #000 ; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 50%;

}

.timer input{
    font-size: 20px;
    width: 30%;
    text-align: center;
}

button{
    float: none;
}